html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}
.nav {
  background: #000;
  height: 80px;
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}
.btn:hover, .nav ul li:hover {
  background: #117bff;
  cursor: pointer;
  transition: background .5s;
}


.header {
  background: url(http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 750px;
  text-align: center;
  opacity: .9;
}

.btn  {
  color: #fff;
  background: #000;
  padding: 5px 20px;
  text-decoration: none;
  transition: background .5s;
}

.form{
    padding-top: 25px;
    float: right;
    padding-right: 15px;
}

.form a{
    background-color: #117bff;
    margin-left: 20px;

}

.form label{
    margin-left: 20px;
    color: #fff;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
}

.header .container {
  position: relative;
  top: 50px;
}

.header h1 {
  color: #fff;
  line-height: 100px;
  font-size: 80px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.header p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 8px;
  margin-bottom: 35px;
  margin-top: 0;
  text-transform: uppercase;
}

.header form{
    margin-top: 10px;
}

.header .btn{
    margin-top: 45px;
}

.signup label{
    color: #fff;
    margin-bottom: 40;
    margin-right: 0px;
    margin-top: 10px;
    width: 125px;
    text-align: left;
}

#home .container {
    border: 3px solid #fff;
    height: 500px;
    padding: 40px;
}

.footer {
  background: #000;
  height: 70px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

/* CSS for index.html */
.indexheader h1{
    border-left: 2px solid #00f28f;
    font-size: 48px;
    font-weight: 400;
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
}

.main{
    margin-top:80px;
}

.indexinput{
    background: #f0f0f0;
    border: none;
    border-left: 2px solid #fff;
    font-size: 36px;
    padding: 20px;
    width: 100%;

    transition: background 2s, border-left 2s;
}


.indexinput:focus{
    background: #fff;
    border-left: 2px solid #000;
    box-shadow: none;
    outline: none;
}

.indexbtn{
    background-color: transparent;
    border: none;
    color: #117bff;
    cursor: pointer;
    font-size: 36px;
    padding: 20px 24px;

    transition: background 2s, color 2s;
}

.indexbtn:hover{
    background: #117bff;
    color: #fff;
}

.links{
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
}

.links li{
    padding-left: 20px;
    border-left: 2px solid #000;
    font-size: 36px;
    margin: 0 0 36px;
}
